* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #070707;
}

.cards-container {
    display: flex;
    padding-top: 20px;
    justify-content: flex-start;
    gap: 20px;
}

.card {
    background-color: #181616;
    width: 373px;
    height: 550px;
}

.tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color:#ED1C24;
    color: white;
    padding: 2px 8px;
    border-radius: 10px;
    z-index: 10;
}

.tag p {
    font-weight: bold;
    font-size: 15px;
    margin: 0;
}

.imgcard {
    width: 360px;
    height: 340px;
    background-color: #231F20;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.imgcard img {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

.content > h3 {
    color: white;
}

.content > h2 {
    color: #ED1C24;
}

.content > p {
    color: white;
}