* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    position: relative;
    height: 88px;
    display: flex;
    background-color: #181616;
    align-items: center;
    color: white;
    justify-content: flex-end;
    padding: 0 20px;
}


header > h1 {
    position: absolute;
    padding-left: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    font-weight: bold;
}

/* Carrinho e login */
.botoes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.botoes_logged {
    display: flex;
    align-items: center;
    gap: 10px;
}

.botoes_logged img {
    width: 28px;
    height: 28px;
}
