* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #070707;
}

.cards-container {
    display: flex;
    padding-top: 20px;
    justify-content: flex-start;
    gap: 20px;
}

.card {
    background-color: #181616;
    width: 373px;
    height: 550px;
}

.imgcard {
    width: 360px;
    height: 320px;
    background-color: #231F20;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imgcard img {
    width: 100%;
    height: 80%;
}
