* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #070707;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;             
}

.content {
    padding-top: 75px;
    text-align: center;
    width: 650px;
    height: 300px;
    border-radius: 35px;
    background-color: #181616;
    box-shadow: 0 0 20px rgba(237, 28, 36, 0.2);
}

h1 {
    color: #ED1C24;
    margin-bottom: 20px;
}

p {
    color: white;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #ED1C24;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #b1141a;
    transform: scale(1.10);
}

a {
    text-decoration: none;
    color: white;
}
