{% extends 'base.html' %}

{% block title %}Cadastrar Produto{% endblock %}

{% block conteudo %}

<link rel="stylesheet" href="static/css/cadastrar_produto.css">
<div class="pagecenter">
  <div class="container">
      <h1>Cadastrar Produto</h1>
      <p>Crie e poste seus produtos no painel de controle.</p>

      <form action="{{ url_for('cadastrar_produto') }}" method="post">
          <div class="input-group">
              <input type="text" name="name" placeholder="Nome do Produto">
          </div>
          <div class="input-group">
              <input type="number" name="preco" placeholder="Preço" step="0.01" required>
          </div>
          <div class="input-group">
              <input type="descricao" name="descricao" placeholder="Descrição curta">
          </div>
          <button>Cadastrar Produto</button>
      </form>
  </div>
</div>

{% endblock %}