{% extends 'base.html' %}

{% block title %}Produtos{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block conteudo %}

<div class="produtos-container">
    {% for produto in produtos %}
        <div class="card-produto">
            <h3>{{ produto.nome }}</h3>
            <p class="preco">R$ {{ produto.preco }}</p>
            <p class="descricao">{{ produto.descricao }}</p>
            
            <div class="botoes-card">
                <a class="btn-editar" href="{{ url_for('editar_produto', id=produto.id) }}">Editar</a>

                <form action="{{ url_for('excluir_produto', id=produto.id) }}" method="POST">
                    <button type="submit" class="btn-excluir">Excluir</button>
                </form>
            </div>

        </div>
    {% endfor %}
</div>
{% endblock %}
